<html>
    <head>
        <title>this is navbar</title>
    </head>
    <body>
        <ul>
            <li>home</li>
            <li>products</li>
            <li>cart</li>
        </ul>
    </body>
</html>