
<html>
    <head>
        <title></title>
    </head>
    <body>
        {{> navbar}}
        <h1>products:</h1>
    <ul class="people_list">
        {{#each products}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    </body>
</html>